@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

.has-background-orange{
    background-color: #FC6D26;
}

.has-margin-top{
    margin-top: 5%;
}

html,
body {
  height: 100%; 
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background-color: black;
}

span { 
  font-family: "Source Sans Pro", sans-serif;
}

.icon {
  color: white;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
} 

.columns.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}